<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8"/>
	<title>Kakao 지도 시작하기</title>
</head>
<body>
	<div id="map" style="width:500px;height:400px;"></div>
	<script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=404bbe13e2c71ca4e9beb24c42f84711"></script>
	<script>
		var mapContainer = document.getElementById('map'), // 지도를 표시할 div  
            mapOption = { 
                center: new kakao.maps.LatLng(35.892497558422924, 128.60922111156705), // 지도의 중심좌표
                level: 3 // 지도의 확대 레벨
            };

        var map = new kakao.maps.Map(mapContainer, mapOption); // 지도를 생성합니다
        
        // 마커를 표시할 위치와 내용을 가지고 있는 객체 배열입니다 
        var positions = [
            {
                content: '<div>서브웨이 경북대북문점</div>', 
                latlng: new kakao.maps.LatLng(35.89306432620748, 128.60942638982468)
            },
            {
                content: '<div>도리집</div>', 
                latlng: new kakao.maps.LatLng(35.894102638460915, 128.60994909743465)
            },
            {
                content: '<div>유가네 닭갈비</div>', 
                latlng: new kakao.maps.LatLng(35.893057193121045, 128.60895003644924)
            },
            {
                content: '<div>한솥 도시락</div>', 
                latlng: new kakao.maps.LatLng(35.89281673336378, 128.60873752134088)
            },
            {
                content: '<div>고니식탁</div>', 
                latlng: new kakao.maps.LatLng(35.89260629380658, 128.60847024209926)
            },
            {
                content: '<div>푸둥반점</div>', 
                latlng: new kakao.maps.LatLng(35.89278909557626, 128.60844625406799)
            },
        ];

        for (var i = 0; i < positions.length; i ++) {
            // 마커를 생성합니다
            var marker = new kakao.maps.Marker({
                map: map, // 마커를 표시할 지도
                position: positions[i].latlng // 마커의 위치
            });

            // 마커에 표시할 인포윈도우를 생성합니다 
            var infowindow = new kakao.maps.InfoWindow({
                content: positions[i].content // 인포윈도우에 표시할 내용
            });

            // 마커에 mouseover 이벤트와 mouseout 이벤트를 등록합니다
            // 이벤트 리스너로는 클로저를 만들어 등록합니다 
            // for문에서 클로저를 만들어 주지 않으면 마지막 마커에만 이벤트가 등록됩니다
            kakao.maps.event.addListener(marker, 'mouseover', makeOverListener(map, marker, infowindow));
            kakao.maps.event.addListener(marker, 'mouseout', makeOutListener(infowindow));
        }

        // 인포윈도우를 표시하는 클로저를 만드는 함수입니다 
        function makeOverListener(map, marker, infowindow) {
            return function() {
                infowindow.open(map, marker);
            };
        }

        // 인포윈도우를 닫는 클로저를 만드는 함수입니다 
        function makeOutListener(infowindow) {
            return function() {
                infowindow.close();
            };
        }
	</script>
</body>
</html>